.color_bg {
  background-color: rgb(226, 226, 226);
}

.container_heigh {
  height: 400px;
  /* background-color: #516CA9; */
}

/* .icon_size {
    font-size: 50px;
} */

.container_height {
  height: 400px;
  background-color: #516ca9;
}

.icon_size {
  font-size: 50px;
}

/* .margin_right_22 {
    margin-right: 25px;
} */

.height_footer {
  height: 500px;
  background-color: #31404a;
  color: rgb(199, 199, 199);
}

.margin_left_right {
  margin-left: 100px;
  margin-right: 100px;
}

.margin_top_all {
  margin-top: 100px;
}

.background_color__ {
  background-color: #2e3844;
  height: 50px;
  width: 100%;
  /* margin-top: 25px; */
}
